body{
    background-color: teal;
}
.colori{
    background-color: whitesmoke;
    height: 40px;
    width: 39px;
    border:1px solid white;
}

.container{
    background-color: red;
   width:656px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px auto;
    border: 1px solid white;
   
    
}

.gjelbert{
    background-color: green;
}

.conbut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
button{
    border: 0px;
    margin: 10px;
    border-radius: 3px;
    padding: 6px;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    font-size: 15px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: red;
}